body {
    background-color: rgb(10, 10, 10);
  overflow: auto;
   
    box-sizing: border-box;

    margin: 0;
    padding: 0;
  }
  .container{
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 20px;
    margin: 50px auto;
    background-color: rgb(237, 9, 9);
}

.filter-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    }
    button.active{
        background-color: aqua;
    }
    .filterable_cards{
        display: flex;
        margin-top: 25px;
        gap:20px;
        flex-wrap: wrap;
    }
    .card{
        background-color: #fff;
        flex-basis: 300px;
        padding: 3px;
        border-radius: 8px;
        flex-grow: 1;
        box-shadow: 0 0 10px rgba(0,0,0, 0.05);
    }
    .card.hide{
        display: none;
    }
    .card img{
        
        object-fit: cover;
        object-position: center;
    height: 200px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    }
    .card_body{
         padding: 15px 20px 20px;
    }
    .card_title{
        font-size: 20px;
        font-weight: 500;
        color: #333;
    }
    .card_text{
        font-size: 18px;
        color: #333;
    } 
    body {
        background: #f1f1f1 !important;
      }

      body .container {
        max-width: 1100px;
      }
      #filter-buttons button {
        border-radius: 3px;
        background: #fff;
        border-color: transparent;
      }

      #filter-buttons button:hover {
        background: #ddd;
      }
      
      #filter-buttons button.active {
        color: #fff;
        background: #6c757d;
      }
      
      #filterable-cards .card {
        width: 15rem;
        border: 2px solid transparent;
      }
      
      #filterable-cards .card.hide {
        display: none;
      }
      
      @media (max-width: 600px) {
        #filterable-cards {
          justify-content: center;
        }
      
        #filterable-cards .card {
          width: calc(100% / 2 - 10px);
        }
      }
                  
.banner{
    width: 100%;
  height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.navbar{
    background-color: #ffffff;
    width: 90%;
    margin: 0%;
    padding: 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

}
.logo{
    
    user-select: none;
    width: 20%;
    height: 0%;
    cursor: pointer; 
    margin-bottom: 20%;
    flex: auto;
    padding: 0%;
    margin: auto;
    object-fit: contain;
}

.navbar ul li{
    list-style: none;
    display: inline-flex;
    margin: 0 30px;
    position: relative;
    
    
}
.navbar ul li a{
text-decoration: none;
color: #000000;
text-transform: uppercase;
padding: 5px 10px;
display: block;

}
.navbar ul li ::after{
content:'';
height: 3px;
width: 0;
background: #cf6363;
position: absolute;
left: 0;
bottom:-5px;
transition: 0.5s;
}
.navbar ul li:hover ::after{
width: 100%;
}


.content{

    width: 100%;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
   font-family: 'Times New Roman', Times, serif;
    font-size: 10vh;
    margin-top: 5%;
    text-align: center;
}

.content h2{
    font-family: 'Times New Roman', Times, serif;
     font-size: 5vh;
     margin-top: 2%;
     text-align: center;
     font-weight: normal;
 }
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
} 
button{
    padding: 10px 20px;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0, 0.05);
/*   
  padding: 15px 0;
  width: 200px;
  text-align: center;
  margin: 20px 0px;
  margin-top: 6vh;
  border-radius: 25px;
  font-weight: normal;
  border: 2px solid rgb(182, 160, 160);
  background: transparent;
  color: #000000;
  cursor: pointer;
  border-color: #fff;
  color: rgb(255, 255, 255);
font-family: 'Times New Roman', Times, serif; */

}






















/* body {
    background-color: rgb(10, 10, 10);
    height: 100vh;  
    margin: 0px;
    overflow: hidden;
  }
  .navbar{
    background-color: #ffffff;
    width: 90%;
    margin: 0%;
    padding: 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

}
.logo{
    
    user-select: none;
    width: 20%;
    height: 0%;
    cursor: pointer; 
    margin-bottom: 20%;
    flex: auto;
    padding: 0%;
    margin: auto;
    object-fit: contain;
}

.navbar ul li{
    list-style: none;
    display: inline-flex;
    margin: 0 30px;
    position: relative;
    
    
}
.navbar ul li a{
text-decoration: none;
color: #000000;
text-transform: uppercase;
padding: 5px 10px;
display: block;

}
.navbar ul li ::after{
content:'';
height: 3px;
width: 0;
background: #cf6363;
position: absolute;
left: 0;
bottom:-5px;
transition: 0.5s;
}
.navbar ul li:hover ::after{
width: 100%;
}




  
  h1{
  color: #ffffff;
font-size: 300%;
margin-top: -10%;
  }
section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100%;
}
.hidden{
opacity: 0;
transition: all 3s;
transform: translateX(-100%);
filter: blur(5px );

}
.bord{
    background-color: #ffffff;
}

.show{
  
opacity: 1;
filter: blur(0);
transform: translateX(0);
}
.IMG{
    width: 150;
    height: 250;
    display: flex;
    border-radius: 20%;
    
}
.IMG:nth-child(2)
{
    transition-delay: 200ms;
}
.IMG:nth-child(3)
{
    transition-delay: 400ms;
}

.IMG:nth-child(4)
{
    transition-delay: 600ms;
}
img{
    display: block;
    max-width: 90%;
    margin: 10px 20px;
transform: rotateZ('angle');

}
.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
  }

 
.banner{
   
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.navbar{
  position: sticky;
    z-index: 99; /* Set a higher z-index value */
    /* background-color: #ffffff;
    width: 90%;
    margin: 0%;
    padding: 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    padding-top: 0%;

} */
/* .logo{
    z-index: 1; /* Set a higher z-index value */
    /* user-select: none;
    width: 20%;
   height: 0%;
    cursor: pointer; 
    margin-bottom: 20%;
    flex: auto;
    padding: 0%;
    margin: auto; */
    /* object-fit: contain;
}

.navbar ul li{
    z-index: 1; Set a higher z-index value */
    /* list-style: none;
    display: inline-flex;
    margin: 0 30px;
    position: relative;
     */
    
/* }
.navbar ul li a{
    z-index: 1; /* Set a higher z-index value */
/* text-decoration: none;
color: #000000;
text-transform: uppercase;
padding: 5px 10px;
display: block; */ 

/* }
.navbar ul li ::after{
    z-index: 1; /* Set a higher z-index value */
/* content:'';
height: 3px;
width: 0;
background: #cf6363;
position: absolute;
left: 0;
bottom:-5px;
transition: 0.5s;
}
.navbar ul li:hover ::after{
    z-index: 1; /* Set a higher z-index value */
/* width: 100%;
} 
*/
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 }
 
body {
    background-color: rgb(10, 10, 10);
    height: 100vh;  
    margin: 0px;
    overflow: hidden;
    min-height: 100vh;
    background: #d1abab;
  }

.banner{
    width: 100%;
  height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



.navbar{
    background-color: #ffffff;
    width: 90%;
    margin: 0%;
    padding: 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

}
.logo{
    
    user-select: none;
    width: 20%;
    height: 0%;
    cursor: pointer; 
    margin-bottom: 20%;
    flex: auto;
    padding: 0%;
    margin: auto;
    object-fit: contain;
}

.navbar ul li{
    list-style: none;
    display: inline-flex;
    margin: 0 30px;
    position: relative;
    
    
}
.navbar ul li a{
text-decoration: none;
color: #000000;
text-transform: uppercase;
padding: 5px 10px;
display: block;

}
.navbar ul li ::after{
content:'';
height: 3px;
width: 0;
background: #cf6363;
position: absolute;
left: 0;
bottom:-5px;
transition: 0.5s;
}
.navbar ul li:hover ::after{
width: 100%;
}


.content{

    width: 100%;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
   font-family: 'Times New Roman', Times, serif;
    font-size: 10vh;
    margin-top: 5%;
    text-align: center;
}

.content h2{
    font-family: 'Times New Roman', Times, serif;
     font-size: 5vh;
     margin-top: 2%;
     text-align: center;
     font-weight: normal;
 }
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
} 
button{
   
  
  padding: 15px 0;
  width: 200px;
  text-align: center;
  margin: 20px 0px;
  margin-top: 6vh;
  border-radius: 25px;
  font-weight: normal;
  border: 2px solid rgb(182, 160, 160);
  background: transparent;
  color: #000000;
  cursor: pointer;
  border-color: #fff;
  color: rgb(255, 255, 255);
font-family: 'Times New Roman', Times, serif;

} */
